main {
    max-width: 840px;
}

nav {
    border-radius: margin: 1523px;
    ;
    background-color: green;
    padding: 0;
}

nav a {
    color: aquamarine;
    padding: auto;
    display: block;
}

h1 {
    color: purple;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(10, 109, 10);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: #000;
    padding: 0%;
    box-shadow: #333;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 5px solid #000;
    text-align: center;
    border-color: rgb(223, 39, 223);
}